.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.controls-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-row {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px; /* Reduced margin */
  padding: 10px 15px; /* Reduced padding */
  font-size: 18px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d0d0d0;
}
